{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <style>
        .demo-list-action {
          width: 2000px;
        }
        .mdl-textfield{
            width:1000px;
        }
    </style>
    <main class="mdl-layout__content">
        <section class="section--center mdl-grid mdl-shadow--4dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Current Rule Files Matched</h2>
            </div>
            <div class="mdl-card__actions">
                {% if yara_results %}
                    {% with table_dict=yara_results, table_header=["File ID", "MD5 Hash", "Classification"], url_for_value='unum.edit_upload_file_route' %}
                        {% include "subtemplates/_table_object.html" %}
                    {% endwith %}
                {% endif %}
            </div>
        </section>
        <div class="mdl-layout-spacer"></div>
        <section class="section--center mdl-grid mdl-shadow--4dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ title }}</h2>
            </div>
            <div class="mdl-card__actions">
                <form class="form" method="post" role="form">
                    {{ form.hidden_tag() }}
                    {% with form_object=yara_list_name, form_object_name="yara_list_name", form_object_rows=1, form_object_label="List Name", form_object_value=form.yara_list_name %}
                        {% include "subtemplates/_form_object_textfield.html" %}
                    {% endwith %}
                    {% with form_object=yara_rules, form_object_name="yara_rules", form_object_rows=40, form_object_label="Yara Rules", form_object_value=form.yara_rules %}
                        {% include "subtemplates/_form_object_textfield.html" %}
                    {% endwith %}
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                            value=data-val.value>
                        Save
                    </button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}