{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <main class="mdl-layout__content">
        <div class="page-content mdl-cell mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-layout-title">YARA</div>
             <div class="mdl-layout-spacer"></div>
             <a href="{{  url_for('yara.create') }}">Create New Yara Ruleset</a>
             <div class="mdl-layout-spacer"></div>
             {% with form_object="table",
                     table_list=["Delete"],
                     table_header=["Rule ID", "Rule List Name"],
                     url_for_value='yara.edit',
                     checkbox_enabled="True" %}
                 {% include "subtemplates/_table_object.html" %}
             {% endwith %}
             <div class="mdl-layout-spacer"></div>
        </div>
    </main>
{% endblock %}
